cloud_id = "b1gd9q617bnl1q5kpu1q"
folder_id = "b1gnilmohmvq9fboq85r"
zone = "ru-central1-a"
image_id = "fd8i5r73uka6oo67edkp"
public_key_path = "~/.ssh/id_rsa.pub"
subnet_id = "e9bg7popc04g6fmlkbva"
service_account_key_file = "key.json"
private_key_path = "~/.ssh/id_rsa"
app_disk_image = "fd8i5r73uka6oo67edkp"
db_disk_image = "fd8i5r73uka6oo67edkp"
